@import "dependencies";
@import "colors";

:root {
	--header-height: 106px;
	--header-main-nav-height: 70px;
	--header-brand-logo-height: 60px;
	--header-brand-logo-max-width: 160px;
	--header-master-drawer-top-pos: 111px;
	--header-mobile-nav-top-pos: 106px;
}

:root[data-reduced-nav="true"] {
	--header-height: 76px;
	--header-main-nav-height: 40px;
	--header-brand-logo-height: 30px;
	--header-brand-logo-max-width: 95px;
	--header-master-drawer-top-pos: 81px;
	--header-mobile-nav-top-pos: 76px;
}

@mixin fontSuperBold {
	font-family: "Roboto Black", "Roboto", "Arial Black", "Arial", "Helvetica", sans-serif;
	font-variant: small-caps;
	font-weight: 900;
	line-height: 80%;
	text-transform: lowercase;
}

html {
	line-height: 140%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: auto;
}

html[data-scroll-behavior="smooth"] {
	scroll-behavior: smooth;
}

body {
	background-color: #DFE3E8;
	color: $reflex;
}

#global {
	background-color: #FFF;
	margin: 0 auto;
	max-width: 1600px;
	width: 100vw;
}

.font-superbold {
	@include fontSuperBold;
}